/** Set the background of the header */
#header .header {
    background-color: #000;
    background-image: url(../assets/images/bg.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    color: #fff;
    margin-bottom: 0px;
}
